@model StudentReportViewModel

@{
    Layout = "_StudentLayout";
}
        <h1>My Modules</h1>
        <table>
            <tr>
                <!--<tr>Semester </tr>-->
                <th>Module Code </th>
                <th>Module Name </th>
            </tr>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var module in Model.lstModules)
                    {
                        <tr>
                            <!--<td></td>-->
                            <td>@module.ModuleCode</td>
                            <td>@module.ModuleName</td>
                        </tr>
                    }
                }

            </tbody>
        </table>