@model StudentReportViewModel

@{
    Layout = "_StudentLayout";
}
<div class="head-title">
    <div class="left">
        <h1>Student Report</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Student Report</a></li>
        </ul>
    </div>
</div>
<div class="table-data">
    <div class="order">
        <table>
            <thead>
                <tr>
                    <th>Module Code</th>
                    <th>Module Name</th>
                    <th>Lecture Date</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstLectures)
                {
                    <tr>
                        <td>@item.ModuleCode</td>
                        <td>@Model.GetModuleNameByCode(item.ModuleCode)</td>
                        <td>@item.LectureDate</td>
                        <td>@Model.GetAttendance(item)</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>

