@{
    Layout = "_StudentLayout";
}

<div class="head-title">
    <div class="left">
        <h1>QR Code</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">QR Code</a></li>
        </ul>
    </div>
</div>

<div class="table-data">
    <img src="data:image/png;base64,@ViewBag.QRCodeImage" alt="QR Code" style="width: 700px; height: 600px;" />
</div>

<div class="both">
            <div class="text-section">
                <p>
                    Scan your unqiue QR code every time you enter a class at Varsity College to track your attendance.
                </p>
            </div>
</div>

<style>
    .text-section p, ol, strong {
        font-size: 14px;
    }

    .text-section {
        width: 60%;
        padding-right: 20px;
    }
</style>


