@model AddStudentViewModel

@{
    ViewBag.Title = "Add Student";
}

@await Html.PartialAsync("_TopbarPartial")

<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <form asp-action="AddStudent" method="post">
            Student Number: <br /><input type="text" asp-for=@Model.StudentNo class="form-text" /><br />
            Username: <br /><input type="text" asp-for=@Model.Username class="form-text" /><br />
            Password: <br /><input type="password" asp-for=@Model.Password class="form-text" /><br /><br />
            <button type="submit">Add</button>
        </form>

        <!-- Display the message -->
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }
    </div>
</div>





