@model AddStudentViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="custom-top-bar">
    <div class="app-name">
        <h1>Lecturer Overview</h1>
    </div>
    <div class="profile-info">
        <img src="~/images/profile.jpg" alt="Profile Picture" class="profile-pic">
        <span></span>
    </div>
</div>

<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <form>
            Student Number: <br /><input type="text" asp-for="StudentNo" class="form-text" /><br />
            Username: <br /><input type="text" asp-for="Username" class="form-text" /><br />
            Password: <br /><input type="password" asp-for="Password" class="form-text" /><br /><br />
            <button>Add!</button>
        </form>
    </div>
</div>

