@{
    ViewData["Title"] = "Home Page";
}
<style>
    .sidebar {
        width:23%;
    }
</style>
<div class="both">
    @await Html.PartialAsync("_SidebarPartial")
    <div class="main-content">
        <div class="bgmain"></div>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
            <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
           
        </div>
    </div>
</div>
