@{
    ViewData["Title"] = "Home Page";
}

<div class="both">
    @await Html.PartialAsync("_SidebarPartial")
    <div class="main-content">
        <div class="bgmain"></div>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </div>
</div>
