@model StudentReportViewModel

@await Html.PartialAsync("_StudTopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_StudSidebarPartial")
    <div class="custom-content">
        <h1>Attendance Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Lecture Date</th> 
                    <th>Module Name</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var lecture in Model.lstLectures)
                    {

                        <tr>
                            <td>@lecture.ModuleCode</td>
                            <td>@lecture.LectureDate.ToShortDateString()</td>
                            <td>@Model.GetModuleNameByCode(@lecture.ModuleCode)</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>