@model StudentReportViewModel

@await Html.PartialAsync("_StudTopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_StudSidebarPartial")
    <div class="custom-content">
        
        <table>
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Lecture Date</th> 
                    <th>Module Name</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var report in Model.lstLectures)
                    {
                        <tr>
                            <td>@report.ModuleCode</td>
                            <td>@report.LectureDate.ToShortDateString()</td>
                      
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>