@model StudentReportViewModel
@{
    ViewData["Title"] = "Student Attendance";
}
@await Html.PartialAsync("_StudTopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_StudSidebarPartial")
    <div class="custom-content">
        <h1>Student Report</h1>
        <table>
            <thead>
                <tr>
                    <th>Module Code</th>
                    <th>Module Name</th>
                    <th>Lecture Date</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstLectures)
                { 
                        <tr>
                            <td>@item.ModuleCode</td>
                            <td>Module Name</td>
                            <td>@item.LectureDate</td>                         
                            <td>@Model.GetAttendance(item)</td>
                        </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>

