
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidebar">
    <img src="~/img/logo.png" alt="Logo">
    <button><a asp-controller="Login" asp-action="Index"><i class="fas fa-chalkboard-teacher"></i> Lecturer</a></button>
    <button><a asp-controller="Login" asp-action="Index"><i class="fas fa-user-graduate"></i> Student</a></button>
</div>