<!-- Views/Shared/_DashSidebarPartial.cshtml -->

<div class="custom-sidebar">
    <div class="custom-top-section">
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <ul class="custom-nav-links">
        <li><a asp-controller="StudentReport" asp-action="Index">Overview</a></li>
        <li><a href="#">Report</a></li>
        <li><a href="#">Attendance</a></li>
        <li><a href="#"></a></li>
    </ul>
    <button onclick="window.location.href='@Url.Action("Index", "Home")'">Logout</button>
</div>
