<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-graduation'></i>
        <span class="text">Student Hub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a asp-controller="StudentReport" asp-action="Index" asp-route-userID="3">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a asp-controller="StudentReport" asp-action="Modules" asp-route-userID="3">
                <i class='bx bxs-graduation'></i>
                <span class="text">Modules</span>
            </a>
        </li>
        <li>
            <a asp-controller="StudentReport" asp-action="StudentReport" asp-route-userID="3">
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Student Report</span>
            </a>
        </li>
        <li>
            <a asp-controller="StudentReport" asp-action="Index" asp-route-userID="3">
                <i class='bx bx-qr'></i>
                <span class="text">Student Scan</span>
            </a>
        </li>
        <li>
            <a asp-controller="StudentReport" asp-action="AttendanceHistory" asp-route-userID="3">
                <i class='bx bxs-group'></i>
                <span class="text">Attendance List</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a asp-controller="StudentReport" asp-action="Profile" asp-route-userID="3" class="profile">
                <i class='bx bxs-user'></i>
                <span class="text">Profile</span>
            </a>
        </li>
        <li>
            <a asp-controller="StudentReport" asp-action="logout" asp-route-userID="3" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<section id="content">
    <nav>
        <i class='bx bx-menu'></i>
        <div class="send-right">
        <div class="send-right-box">
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
                <a asp-controller="StudentReport" asp-action="Profile" asp-route-userID="3" class="profile">
                <div class="p-0 m-0">
                    <h6>Piet Pompies</h6>
                    <h6>St10239487</h6>
                </div>
            </a>
        </div>
        </div>
    </nav>
