<div class="custom-top-bar">
    <div class="app-name">
        <h1>Student Overview</h1>
    </div>
    <div class="profile-info">
        <img src="~/images/profile.jpg" alt="Profile Picture" class="profile-pic">
        <span></span>
    </div>
</div>