@model LectureReportViewModel

@{
    Layout = "_LecturerLayout";
}


<div class="table-data">
    <div class="order">
    <div class="head-title">
        <div class="left">
            <h1>Add Lecturer</h1>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li><a class="active" href="#">Add Lecturer</a></li>
            </ul>
        </div>
    </div>
    <form asp-controller="LectureReport" asp-action="Create" method="post">
    <table>
        <thead>
            <tr>
                <th>Select Module</th>
                <th>Select Date</th>
            </tr>
        </thead>
        <tbody>         
            <tr>
                <td>
                    <select>
                        @foreach(var item in Model.lstLectures)
                        {
                            <option>@item.ModuleCode</option>
                        }
                    </select>
                </td>            
                <td>
                    <input type="date" asp-action="AddLecture" asp-controller="LectureReport"/>
                </td>
                <td><input type="button" value="Add"/></td>
            </tr>         
        </tbody>
    </table>
    </form>
</div>
</div>
