@model AddStudentViewModel

@{
    ViewBag.Title = "Add Lecturer";
}

@await Html.PartialAsync("_TopbarPartial")

<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <form asp-action="AddStudent" method="post">
            Lecture Number: <br /><input type="text" asp-for=@Model.LectureID class="form-text" /><br />
            UserID: <br /><input type="text" asp-for=@Model.UserID id="userIDInput" class="form-text" /><br />
            Module Code: <br /><input type="password" asp-for=@Model.ModuleCode class="form-text" /><br />
            Date: <br /><input type="text" asp-for=@Model.Date class="form-text" readonly /><br />
            Start: <br /><input type="text" asp-for=@Model.Start class="form-text" readonly /><br />
            Finish: <br /><input type="text" asp-for=@Model.Finish  class="form-text" readonly /><br />



            <br/><input type="button" id="btnScan" onclick="ScanUserID()"/><br /><br />
            <button type="submit">Add</button>
        </form>

        <!-- Display the message -->
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }
    </div>
</div>






