@model XBCADAttendance.Models.ViewModels.AddStaffViewModel
@{
    ViewBag.Title = "Add Lecturer";
}


<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <form asp-action="CreateLecturer" method="post">
            Lecture Number: <br /><input type="text" asp-for=@Model.LectureID class="form-text" /><br />
            UserID: <br /><input type="text" asp-for=@Model.UserID id="userIDInput" class="form-text" /><br />
            Module Code: <br /><input type="text" asp-for=@Model.ModuleCode class="form-text" /><br />
            Date: <br /><input type="date" asp-for=@Model.Date class="form-text"  /><br />
            Start: <br /><input type="time" asp-for=@Model.Start class="form-text"  /><br />
            Finish: <br /><input type="time" asp-for=@Model.Finish class="form-text"  /><br />

            <button type="submit">Add</button>
        </form>

        <!-- Display the message -->
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }
    </div>
</div>






