@using Highsoft.Web.Mvc.Charts
@model LectureReportViewModel
@{
    Layout = "_LecturerLayout";
}
<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="head-title">
    <div class="left">
        <h1>Overview</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Overview</a></li>
        </ul>

    </div>
</div>


<ul class="box-info">
    <li>
        <i class='bx bxs-calendar'></i>
        <span class="text">
            <h3>10h 20m</h3>
            <p>Until Next lecture</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>@Model.lstStudents.Count</h3>
            <p>Attendees</p>
        </span>
    </li>
    <li>
        <i class='bx bx-category'></i>
        <span class="text">
            <h3>@Model.lstModules.Count</h3>
            <p>Modules</p>
        </span>
    </li>
</ul>
<div class="table-data">
<div class="todo">
    <div class="head">
        <h3>Modules</h3>
        <i class='bx bx-plus'></i>
        <i class='bx bx-filter'></i>
    </div>
    <ul class="todo-list">
        <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
        </li>
        <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
        </li>
        <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
        </li>
        <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
        </li>
        <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded'></i>
        </li>
    </ul>
</div>
    <div class="chart">
        <h2>Attendance by Module</h2>
        <div id="BarChart"></div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Highcharts.chart("BarChart", {
                    chart: {
                        type: "column"
                    },
                    title: { text: "" },
                    xAxis: {
                        categories: @Html.Raw(Json.Serialize(Model.chart.attendanceValues.Select(dp => dp.Name)))
                                                    },
                    yAxis: {
                        title: { text: "Lectures" }
                    },
                    series: [{
                        name: "Attendance",
                        data: @Html.Raw(Json.Serialize(Model.chart.attendanceValues.Select(dp => dp.Y))),
                        color: "#0056b3"
                    }]
                });
            });
        </script>
    </div>
</div>
