@model LectureReportViewModel
@{
    ViewData["Title"] = "Student Attendance";
    Layout = "_LecturerLayout";
}
<div class="head-title">
    <div class="left">
        <h1>Student Report</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Student Report</a></li>
        </ul>
    </div>
</div>

<div class="table-data">
    <div class="order">
        

        <table>
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th>Module</th>
                    <th>Attendance</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstStudents)
                {
                    if (item.TblStudentLectures != null && item.TblStudentLectures.Count > 0)
                    {
                        <tr>
                            <td>@item.studentNo</td>
                            <td>@item.name</td>
                            <td></td>
                            <td>@item.DisplayAttendancePerc()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

