@using XBCADAttendance.Controllers
@model UserInfo
<div>
    <form asp-action="Edit_Password" asp-controller="Admin" method="post">
        <input type="text" asp-for="@Model.password" />
        <button>Save</button>
    </form>
</div>
