@using XBCADAttendance.Models.ViewModels
@model AdminViewModel
@{
}

<table>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Password:</th>
        <th>Role:</th>
    </tr>
    <form asp-action="" asp-controller="">
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@Model.GetID(user) <a asp-controller="" asp-action="">Edit</a></td>
            <td>@user.UserName <a asp-controller="" asp-action="">Edit</a></td>
            <td><a asp-controller="" asp-action="">Edit</a></td>
            <td>@Model.GetRole(user) <a asp-controller="" asp-action="">Edit</a></td>
        </tr>
        }
    </form>
</table>
