@model LectureReportViewModel

@{
    <form asp-controller="LectureReport" asp-action="AddLecture" method="post">
    <table>
        <thead>
            <tr>
                <th>Select Module</th>
                <th>Select Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>         
            <tr>
                <td>
                    <select>
                        @foreach(var item in Model.lstLectures)
                        {
                            <option>@item.ModuleCode</option>
                        }
                    </select>
                </td>            
                <td>
                    <input type="date" asp-action="AddLecture" asp-controller="LectureReport"/>
                </td>
                <td>
                    <input type="time" asp-action="AddLecture" asp-controller="LectureReport"/>
                </td>
                <td>
                    <input type="time" asp-action="AddLecture" asp-controller="LectureReport"/>
                </td>
                <td><input type="button" value="Add"/></td>
            </tr>         
        </tbody>
    </table>
    </form>
}
