@model LectureReportViewModel
@{
    ViewData["Title"] = "Lecture Report";
}
@await Html.PartialAsync("_TopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <h1>LectureReport</h1>

<table>
    <thead>
        <tr>
			<th>Student Number</th>
			<th>Date</th>
			<th>Attendance</th>
            <th>Days Attended</th>
        </tr>   
    </thead>
    <tbody>   
            @foreach(var item in Model.lstReports)
            {   <tr>
                    <td>@item.stNumber</td>
                    <td>@item.date</td>
                    <td>@item.attendance</td>
                    <td>@item.GetAttendance()</td>

                </tr>
            }
        
    </tbody>
</table>
</div>
</div>

