@model LectureReportViewModel
@{
    ViewData["Title"] = "Lecture Report";
    Layout = "_LecturerLayout";
}

<div class="head-title">
    <div class="left">
        <h1>Lecturer Report</h1>
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Lecturer Report</a></li>
        </ul>
    </div>
</div>
<div class="table-data">
    <div class="order">
        <table>
            <thead>
                <tr>
                    <th>Student No</th>
                    <th>Lecture Date</th>
                    <th>Module</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Classroom</th>
                    <th>Attendance</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstLectures)
                {        
                        <tr>
                            <td>stud no</td>
                            <td>@item.LectureDate</td>
                            <td>@item.ModuleCode</td>
                            <td>Start Time</td>
                            <td>End Time</td>
                            <td>@item.ClassroomCode</td> 
                            <td>@Model.GetAttendance(item)</td>
                        </tr>
                }           
            </tbody>
        </table>
        </div>
        </div>
