@model LectureReportViewModel
@{
    ViewData["Title"] = "Lecture Report";
    Layout = "_LecturerLayout";
}

        <h1>LectureReport</h1>

        <table>
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstStudents)
                {
                    if (item.TblStudentLectures != null && item.TblStudentLectures.Count > 0)
                    {
                        <tr>
                            <td>@item.studentNo</td>
                            <td>@item.name</td>
                            <td>@item.DisplayAttendancePerc()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
