@model List<LecturerReportViewModel>
@{
    ViewData["Title"] = "Lecture Report";
}
@await Html.PartialAsync("_TopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")

    <div class="custom-content">
        <h1>LectureReport</h1>
<table>
    <thead>
        <tr>
			<th>Student Number</th>
			<th>Date</th>
			<th>Attendance</th>
            <th>Days Attended</th>
        </tr>   
    </thead>
    <tbody>
        <tr>
            @foreach(var item in Model)
            {
                <td>@item.stNumber</td>
                <td>@item.date</td>
                <td>@item.attendance</td>
                <td>@item.totalDays</td>
            }
        </tr>
    </tbody>
</table>
</div>
</div>

