@model List<LecturerReportViewModel>
@{
    ViewData["Title"] = "Lecture Report";
}

<h1>LectureReport</h1>

<table>
    <thead>
        <tr>
			<th>Student Number</th>
			<th>Date</th>
			<th>Attendance</th>
            <th>Days Attended</th>
        </tr>   
    </thead>
    <tbody>
        <tr>
            @foreach(var item in Model)
            {
                <td>@item.stNumber</td>
                <td>@item.date</td>
                <td>@item.attendance</td>
                <td>@item.totalDays</td>
            }
        </tr>
    </tbody>
</table>

<style>
    .centered-table {
        margin: 0 auto;
    }

    table {
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
</style>

