@model LectureReportViewModel
@{
    ViewData["Title"] = "Student Attendance";
}
@await Html.PartialAsync("_TopbarPartial")
<div class="custom-container">
    @await Html.PartialAsync("_DashSidebarPartial")
    <div class="custom-content">
        <h1>Student Report</h1>

        <table>
            <thead>
                <tr>
                    <th>Student Number</th>
                    <th>Name</th>
                    <th>Module</th>
                    <th>Attendance</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstStudents)
                {
                    if (item.TblStudentLectures != null && item.TblStudentLectures.Count > 0)
                    {
                        <tr>
                            <td>@item.studentNo</td>
                            <td>@item.name</td>
                            <td></td>
                            <td>@item.DisplayAttendancePerc()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

